@font-face {
    font-family: 'Roboto main font';
    src: url('./fonts/RobotoCondensed-Regular.woff2') format('woff2'),
        url('./fonts/RobotoCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tokyo Street';
    src: url('./fonts/TokyoStreetRegular.woff2') format('woff2'),
        url('./fonts/TokyoStreetRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/* some cleaning for default stylings */

:root {
    --span-font-size: 0.9rem;
    --white-color: rgb(255, 255, 255);
    --black-color: rgb(0, 0, 0);
    --opacity-black: rgb(0 0 0 / .6);
    --font-header: "Tokyo Street";
    --main-font: "Roboto main font";
    --font-p-size: 1.7rem;
    --box-shadow-input: 0 0 5px 0 rgba(0,0,0,0.3);

}

html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    color: var(--white-color);
    text-underline-offset: 1px;
}

input, label, form, fieldset {
    outline: none;
    padding: 0;
    margin: 0;
}

p {
    font-family: var(--main-font, serif);
}

fieldset {
    border: none;
}

/**main styling*/
section {
    display: flex;
    width: 100vw;
    margin: auto;
}

h1 {
    text-transform: uppercase;
    color: var(--white-color);
    font-family: var(--font-header);
    font-size: 2.5rem;
}

span {
    color: var(--white-color);
    font-size: var(--span-font-size);
    font-family: var(--main-font);
    font-style: italic;
}

ul {
    padding: 0;
}

.left-container, .right-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 45vw;
    background-image: url("./assets/background.jpg");
    background-size: cover;
}

.odin-header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 12rem;
    height: 8rem;
    background-color: var(--opacity-black);
}

.tokio-introduction {
    margin-bottom: 1.5rem;
}

.tokio-introduction p {
    margin-bottom: 0;
}

.tributes {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    height: 2rem;
}

.right-container {
    width: 55vw;
    background-image: none;
    background-size: auto;
    background-color: rgb(249,250,251);
    justify-content: flex-start;
}

.sign-up-container > div:not(.form-container, .submit-button-container, .log-in) {
    padding: 0 2rem;
}

.sign-up-container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    height: 38rem;
    position: relative;
    top :8rem;
    width: auto;
}

p {
    font-size: var(--font-p-size);
    font-style: italic;
    margin-bottom: 2rem;
}

legend {
    font-size: 1.4rem;
    font-weight: bold;
    color: rgb(68,76,87);
    font-style: italic;
}

label {
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.09rem;
    font-size: 0.7rem;
    font-weight: bolder;
    color: rgb(83,91,101);
    span {
        color: rgb(255, 0, 0);
        font-size: 0.7rem;
        font-weight: bolder;
        display: inline-block;
    }
}

ul {
    display: flex;
    flex-wrap: wrap;
    width: 40rem;
    column-gap: 7rem;
    row-gap: 1.5rem;
}

input {
    width: 15rem;
    height: 2rem;
    border: 1px solid rgb(229, 231, 235);
    padding: 0rem 0.5rem;
}

input::placeholder {
    font-family: var(--main-font);
}

input:focus {
    border: 1px solid rgb(37, 99, 255);
    box-shadow: var(--box-shadow-input);
}

input:invalid {
    border: 1px solid rgb(255, 0, 0);
    box-shadow: var(--box-shadow-input);
}

input:placeholder-shown {
    border: 1px solid rgb(229, 231, 235);
    box-shadow: none;
}

input:required:focus:valid {
    border: 1px solid rgb(0, 191, 0);
    box-shadow: var(--box-shadow-input);
}

.form-container {
    padding: 1rem 3rem;
    background-color: var(--white-color);
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    clip-path: inset(0 0 -10px 0);
}

.passwords-check {
    display: none;
    color: rgb(195, 0, 0);
    font-style: normal;
    font-size: 0.8rem;
}

.submit-button-container button  {
    width: 13rem;
    padding: 1rem 2rem;
    background-color: rgb(89,109,72);
    color: var(--white-color);
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.6);
    cursor: pointer;
}

.submit-button-container {
    padding: 1rem 3rem;
}

.log-in {
    padding: 0 3rem;
    span {
        color: var(--black-color);
        font-size: 1.1rem;
        font-style: normal;
    }
    a {
        color: rgb(89,109,72);
        font-weight: bold;
        text-decoration: none;
    }
}

